# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules
.npm-cache

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js

# Exclude sourcemaps
*.map

# obsidian
data.json
.hotreload
memory.md

# Exclude macOS Finder (System Explorer) View States
.DS_Store

# Ignore volatile UI-related state
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/app.json

# Ignore cache files
.obsidian/cache/

# System and OS files
Thumbs.db
